<?php
/**
 * Created by PhpStorm.
 * User: Andriy
 * Date: 08.06.2021
 * Time: 21:25
 * Made with <3 by West from Bubuni Team
 */

return [
    // Настройки от базы данных.
    'db' => [
        'host' => 'localhost',
        'port' => 3306,
        'user' => 'root',
        'password' => '',
        'dbname' => 'kostildemo'
    ],

    'system' => [
        // Имя проекта, выводимое в заголовке страницы.
        'siteName' => 'Demo system',

        // Демки спустя какое время после аплоада нужно удалять? В секундах.
        'cleanupCutOff' => 172800,

        // Как часто нужно запускать "задачу" на удаление устаревших демок.
        //
        // Эта настройка сильно зависит от активности пользователей на
        // страницах данного веб-скрипта.
        'cleanupCooldown' => 7200,

        // Полный адрес на установленный веб-скрипт демок.
        'url' => 'http://demo.local',

        // Максимальный размер чанка. Можно указать просто цифру (НЕ В КАВЫЧКАХ),
        // тем самым указав размер явно (в байтах), можно попросить PHP определить
        // автоматически (базируется на настройках PHP post_max_size и
        // upload_max_filesize): 'auto'. А ещё можно указать в "человекопонятном"
        // виде: 400K (400 кибибайт), 20M (20 мебибайт).
        //
        // По-умолчанию, указано автоопределение размера.
        'chunkSize' => 'auto',

        // Используемые словари имён карт. Позволяет подключить готовые
        // пары "человекопонятных" имён карт без необходимости вставлять
        // объёмные строки текста. Для подробностей об этом функционале
        // обращайтесь к пояснению к настройке "mapNames".
        //
        // Для активации словаря, уберите два слеша перед его "кодовым
        // именем" (заключено в одинарные кавычки).
        'mapPresets' => [
            // Legacy CS:GO maps
            // 'cs_legacy',

            // CS:GO / CS:S
            // 'cs',

            // Team Fortress 2
            // 'tf',
        ],

        // Часовой пояс, используемый при выводе времени и дат записей.
        'timeZone' => 'Europe/Moscow',

        // Используемый стиль.
        //
        // При необходимости, Вы можете создать свою папку в "templates/"
        // и реализовать основные шаблоны со своим оформлением.
        // Если какого-то шаблона будет не хватать, "движок" сам полезет
        // за нужным в default-стиль.
        'style' => 'default',

        // Используемый алгоритм сжатия для файлов.
        //
        // Вместе с "движком", поставляется сразу 3 алгоритма сжатия:
        //  - gzip - должен работать абсолютно на любых версиях PHP,
        //           независимо от набора установленных расширений
        //           и библиотек в системе.
        //  - bzip - требует наличия установленного libbzip2 в
        //           системе.
        //  - zip - требует наличия установленного расширения zip в
        //          PHP. За подробностями по установке обращайтесь в
        //          официальную документацию расширения:
        //          https://www.php.net/manual/ru/zip.setup.php
        //          Самый нестабильный алгоритм (!)
        //
        // Если алгоритм сжатия не указан (null), демки никак не
        // сжимаются.
        //
        // Вы можете свободно менять алгоритм сжатия в любое время.
        // Ранее залитые демки при этом не будут перепакованы, но и
        // ссылки на них продолжат корректно формироваться.
        //
        // При необходимости, Вы можете реализовать свой алгоритм
        // сжатия и подсунуть его движку. Для этого необходимо
        // реализовать класс, наследующийся от абстрактного класса
        // \App\Compression\AbstractCompressor, и указать его в
        // карте "сторонних" компрессоров (ключ конфига расположен
        // ниже, и называется "compressMap").
        'compressAlgo' => null,

        // Формат имени файла, который будет скачиваться пользователю
        // на устройство.
        //
        // Доступные ключи:
        //  - record_id - числовой идентификатор записи. Постоянно
        //                растёт на единицу с каждой обработанной
        //                демо-записью.
        //  - demo_id - уникальный (UUID v4) идентификатор записи.
        //  - server_id - идентификатор сервера, на котором была
        //                выполнена запись.
        //  - server - данные о сервере из конфига, на котором была
        //             выполнена запись. Можно обращаться к вложенным
        //             данным через точку ("server.name" для имени
        //             сервера, или "server.address" для IP-адреса,
        //             например). Можно свои параметры придумать,
        //             добавить в конфиг, и они будут доступны в этой
        //             настройке.
        //  - map - имя карты, на которой была начата запись.
        //  - uploaded_at - UNIX-timestamp, когда запись была
        //                  загружена на сервер.
        //  - started_at - UNIX-timestamp, когда запись была
        //                 начата.
        //  - finished_at - UNIX-timestamp, когда запись была
        //                  завершена.
        //  - compress_algo - имя алгоритма, с которым демо-запись
        //                    была сжата. В случае отсутствия
        //                    сжатия, равняется "as_is"
        //                    ("как есть").
        //  - compress_algo_data - данные сжатия. Можно обращаться
        //                         к вложенным данным через точку.
        //
        // Идущие далее параметры зависят от "стиля", но перечисленные
        // ниже гарантированно доступны в стандартном.
        //  - pretty_map - "человекопонятное" название карты из конфига
        //                 (если есть).
        //  - file_extension - расширение файла.
        'fileNameFormat' => '{ demo_id }.{ file_extension }',

        // Upgrade Key - разновидность ключа, разрешающая запускать
        // некоторые относительно опасные операции (вроде актуализации
        // структуры базы) без авторизации.
        //
        // Раскомментируйте и установите своё значение для первоначальной
        // установки.
        //
        // 'upgradeKey' => '',

        // Способ очистки демок:
        //  - activityBased - на основе активности (пользователи должны
        //                    посещать сайт; браузер фоново будет запускать
        //                    очистку с помощью одноразового ключа).
        //  - serverBasedViaHttp - крон будет запускаться с некоторой
        //                         периодичностью самим сервером; должна
        //                         быть добавлена задача на периодическое
        //                         посещение адреса ниже, где key - значение
        //                         параметра "upgradeKey":
        //                         index.php?controller=demo&action=cleanup&key=X
        //  - serverBased - крон запускается из обычного кронтаба; должна
        //                  быть добавлена задача на запуск PHP-скрипта cron.php
        //                  с помощью консольного интерпретатора.
        'cronRun' => 'activityBased',
    ],

    // Карта "сторонних" алгоритмов сжатия. При необходимости, через
    // неё можно переопределить любую стандартную реализацию,
    // поставляемую вместе со скриптом.
    //
    // Используйте это только если Вы знаете, что делаете!
    'compressMap' => [
        // Пример объявления алгоритма сжатия:
        // 'lzf' => 'App\Compression\LzfCompressor'
        //
        // Ключом выступает короткое название для параметра
        // "compressAlgo", а так же для колонки в базе для
        // хранения способа сжатия, которым был запакован
        // .dem-файл.
        // Значением выступает путь к классу (namespace\class),
        // который реализует абстрактный компрессор-класс.
    ],

    // Здесь хранится перечисление серверов.
    //
    // Ключом выступает цифра, должен быть уникальным в рамках
    // конфигурационного файла.
    //
    // Серверов может быть сколько угодно (вплоть до 4млрд; ограничения БД).
    'servers' => [
        1 => [
            // Имя сервера выводится в веб-панели напротив демок.
            'name' => 'Your server name',

            // Адрес используется в веб-панели. Имя сервера является
            // ссылкой на подключение к серверу.
            'address' => '127.0.0.1:27015',

            // Ключ для авторизации сервера на веб-части. Должен быть так же
            // уникальным в рамках конфигурации.
            'key' => 'changeme'
        ],
    ],

    // Ассоциативная пара "человекопонятных" имён карт. Например, если Вы
    // хотите, чтобы вместо "vsh_crevice_b5" писало "Crevice", то это то
    // самое место, где это можно сделать.
    //
    // Если Вы используете карты из Workshop, "отбрасывайте" часть
    // "workshop/1234567890/..." при записи ключей. Оно здесь не учитывается
    // совсем.
    'mapNames' => []
];
